.card-spec{
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
    padding: 2%;
}
.card-spec:hover{
      background-color:white;
    border-radius: 10px;
    padding:5%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 265);
    color: orange;

}
.icon-style{
    font-size:25px;
    border-radius:100px;
    background-color:white ;
    width:25%;
    height: 35%;
    border: black 3px solid;
    text-align: center;
    padding-top:5%;
}
.arrow-pos{
    padding-left:80%;
    margin-top: 20%;
}